body {
  font-family: 'Oswald', sans-serif;
  color: darkblue;
  background-image: url('https://www.gannett-cdn.com/presto/2019/12/12/PBRE/51218dc2-9c13-40bb-b528-48fdedf98fed-Slater_K_1DX21508_Pipe19_Sloane.jpeg?crop=3999,2250,x0,y399&width=3200&height=1680&fit=bounds');"
  font-size: medium;
}